html{
    background-color: rgb(71, 52, 65);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin-top: 4rem;
    padding:2rem;
    border: solid rgb(98, 102, 104) 2px;
    background-color:rgb(42, 42, 42);
    border-radius: 5%;
    box-shadow: 3px 5px 10px black;
}

input{
    width: 20.25rem;
    height: 3.5rem;
    font-size: 2.5rem;
    margin-bottom: 1.9rem;
    box-shadow: 3px 5px 10px black;
    border-radius: 2%;
    border: solid rgb(70, 79, 81) 2px;
    background-color: rgb(192, 192, 192);
    color: rgb(14, 100, 170);
    transition: 800ms;
    overflow: scroll;
    text-align: right;
}
input:hover{
    background-color: rgb(87, 197, 245);
    color: rgb(24, 24, 24);
    transform: scale(150%) rotate(-7deg);
    border-radius: 2%;
    box-shadow: 13px 15px 30px black;
}

button{
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 0.2rem;
    padding:0rem;
    background-color: rgb(53, 53, 53);
    color: rgb(64, 198, 231);
    border: 1px;
    box-shadow: 3px 5px 10px black;
    border-radius: 10%;
    transition: 250ms;
}

button:hover{
    cursor: cell;
    background-color: rgb(70, 70, 70); 
    color: rgb(128, 221, 244);
    border-radius: 50%;
    /* transform: rotate(180deg);  */

}
.del{
    background-color: rgb(173, 2, 2);
}
.del:hover{
    background-color: rgb(220, 0, 0);
    color:rgb(20, 20, 20);
}
.equal{
    background-color: rgb(7, 105, 147);
    color:rgb(32, 32, 32)
}
.equal:hover{
    background-color: rgb(11, 135, 188);
    color:rgb(21, 20, 20);
}